@media (min-width: 375px) {
  .footer #Murali-logo {
    width: 300px;
    height: 22px;
    display: block;
    margin: auto; } }
@media (min-width: 768px) {
  body,
  html {
    font-size: 10px; }

  .page-content {
    padding: 5rem 5rem; }

  h2 {
    font-size: 3rem; }

  .navbar {
    padding-top: 2%; }
    .navbar .navbar-header {
      display: block;
      width: 100%; }
    .navbar .navbar-nav {
      margin: auto;
      display: table;
      float: none;
      margin-bottom: -1rem; }
    .navbar .navbar-brand {
      max-width: 100%;
      width: 100%; }
    .navbar .logo {
      margin: auto;
      width: 314px !important; }

  .icon-text {
    max-width: 50%;
    margin: auto; }

  .italic:after {
    left: 38%;
    width: 200px; }

  .footer {
    padding: 1rem; }
    .footer .footer__content {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .footer .footer__content #Murali-logo {
        margin: auto;
        width: 400px;
        height: auto; }
    .footer .copyright {
      margin-left: 0 !important;
      display: inline; } }
@media (min-width: 1024px) {
  .icon-text {
    max-width: 90%;
    margin: auto; }

  .page-content {
    padding: 5rem 13rem; }

  .footer {
    text-align: left; }
    .footer img {
      height: 1rem;
      width: 1rem; }
    .footer .copyright {
      margin-left: 0 !important; }
    .footer .footer__content #Murali-logo {
      width: 300px;
      margin-left: 0; }
    .footer .footer__content .social-icon:nth-child(1) {
      margin-left: 0px; }

  .right-align {
    text-align: right !important; } }
@media (min-width: 1200px) {
  body,
  html {
    font-size: 10px; }

  .banner-image {
    background-size: cover;
    height: 246px; }

  .navbar-nav > li {
    margin-left: 1rem;
    margin-right: 1rem; }

  .navbar-brand {
    padding-bottom: 6rem;
    max-width: 80%; }

  .icon-text {
    max-width: 100%; }

  .footer {
    padding: 4rem;
    text-align: left; }
    .footer .footer__content #Murali-logo {
      width: 300px; }
    .footer .copyright {
      margin-left: 4% !important;
      display: inline; }

  .footer__content {
    max-width: 90%;
    margin: 3rem auto; }
    .footer__content .social-icon {
      margin-bottom: 3rem; } }
@media (min-width: 1440px) {
  body,
  html {
    font-size: 10px; }

  .page-content {
    padding: 5rem 20rem; }

  .italic:after {
    left: 38%;
    width: 300px; } }
@media (min-width: 1600px) {
  .page-content {
    padding: 5rem 35rem; } }
@media only screen and (min-width: 2560px) {
  body,
  html {
    font-size: 15px; }

  h2 {
    font-size: 3.4rem; }

  h3 {
    font-size: 1.8rem; }

  h4 {
    font-size: 1.5rem; }

  .italic:after {
    left: 38%;
    width: 400px; }

  .navbar-nav > li {
    margin-left: 2rem;
    margin-right: 2rem; }

  .navbar .logo {
    -webkit-transform: scale(1.4);
            transform: scale(1.4); }

  .page-content {
    padding: 5rem 43rem; }
    .page-content .icon-box .icon {
      height: 190px;
      width: auto; }

  .footer img {
    height: 1.5rem;
    width: 1.5rem; }
  .footer .footer__content .social-icon {
    width: 40px;
    height: 40px; }
  .footer .footer__content #Murali-logo {
    width: 500px; } }

/*# sourceMappingURL=responsive.css.map */