
//tablet to small-laptop
@media (min-width: 768px) {
    html,body {
      font-size: 10px;
    }

    .navbar {
      padding-top: 2%;
      //bootstrap hack
      .navbar-header {
        display: block;
        width: 100%;
      }
      .navbar-nav {
        margin: auto;
        display: table;
        float: none;
        margin-bottom: -2rem;
      }
      .navbar-brand {
        max-width: 100%;
        width: 100%;
      }
      //

      .logo {
        margin: auto;
        width: 314px !important;
      }
    }

    .icon-text {
      max-width: 50%;
      margin: auto;
    }


    .footer {
      padding: 1rem;
      .footer__content {
        margin-top: 2rem;
        margin-bottom: 2rem;

        #Murali-logo {
          margin: auto;
          width: 250px;
        }
      }
      .copyright {
        margin-left: 10% !important;
        display: inline;
      }
    }
}

@media (min-width: 1024px) {
  .footer{
    .footer__content{
      #Murali-logo{
        width: 220px
      }
    }
  }
  .footer{
    text-align: left;
    img {
      height: 1.5rem;
      width: 1.5rem;
    }
    .copyright{
      margin-left: 0% !important;
    }
  }
}
//laptop & desktop
@media (min-width: 1200px) {
    html,body {
      font-size: 10px;
    }

    .navbar-nav>li {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    .navbar-brand {
      padding-bottom: 6rem;
      max-width: 80%;
    }

    .icon-text {
      max-width: 100%;
    }

    .page-content {
      padding: 5rem 25rem 5rem 25rem;
    }

    .footer {
      padding: 1rem;
      text-align: left;

      .copyright {
        margin-left: 10% !important;
        display: inline;
      }
    }

    .footer__content {
      max-width: 60%;
      margin: 3rem auto;

      .social-icon {
        margin-bottom: 3rem;
      }
    }
}

@media (min-width: 1440px) {
  html,body {
    font-size: 10px;
  }
}

@media only screen and (min-width: 2560px) {

  html,body {
    font-size: 15px;
  }

  .navbar {
    .logo {
      transform: scale(1.4);
    }
  }

  .footer__content {
    #Murali-logo {
      width: 315px;
    }
  }

  .footer{
    img {
      height: 1.5rem;
      width: 1.5rem;
    }
    .footer__content{
      .social-icon {
      width: 50px;
      height: 50px;
      }
      #Murali-logo{
        width: 315px
      }
    }
  }
}
